---
title: Home
layout: default
---

{% comment %} The overall description + me photo {% endcomment %}

{% include cols.html cols=site.data.main.row0 %}
{% include simple/line.html %}

{% comment %} Comp bio + Minecraft Programming {% endcomment %}

{% include cols.html cols=site.data.main.row1 %}

{% comment %} Music Journalism {% endcomment %}

{% include cols.html cols=site.data.main.row2 %}
{% include simple/line.html %}

{% comment %} Current Projects {% endcomment %}

{% include simple/center_title.html title="Most Recent Projects" %}
{% include cols.html cols=site.data.main.row3 %}
{% include simple/line.html %}



