---
title: Minecraft Programming
layout: default
---

{% include page_top.html data=site.data.minecraft.nav %}

{% include simple/left_title.html title="Minecraft Map Projects" id="maps" %}
{{ "Minecraft Maps are video games created inside of Minecraft, in essence using
it as a video game engine. I have made a number of maps, but these are three I want
to highlight as they were posted onto the official Minecraft server platform realms
and have been highlighted on their website. You can find those links in each section." | markdownify}}
{% include cols.html cols=site.data.minecraft.row1 %}
{% include cols.html cols=site.data.minecraft.row2 %}
{% include cols.html cols=site.data.minecraft.row3 %}

{% include simple/left_title.html title="Bedrock Marketplace Projects" id="bedrock" %}
{{ "Minecraft Bedrock has a marketplace where you can create content for Minecraft
using their inbuilt programming language and sell them. These were both larger group Projects
where different team members would create models, promotional images, and even multiple
programmers. I did programming and general compilation for both projects." | markdownify}}
{% include cols.html cols=site.data.minecraft.row4 %}

{% include simple/left_title.html title="Minecraft Youtuber Commissions" id="commissions" %}
{{ "Minecraft Youtubers will often create videos of the style 'Minecraft But..' where
it is the base game but some new functionality was added. In order for this to be added,
they would hire programmers (such as myself) to implement it. I overall worked on 
around 30 differnt projects over the course of 3 years, but here are six examples." | markdownify}}
{% include cols.html cols=site.data.minecraft.comm.row1 %}
{% include cols.html cols=site.data.minecraft.comm.row2 %}

{% include simple/left_title.html title="Minecraft Mapjam Projects" id="mapjams" %}
{{ "'Mapjams' are a mapmaking competition style common in game making groups, where
teams of 2-4 will compete to create a Minecraft Map (or game) in a limited amount of time
and must follow some theme revealed at the start. They work as a test of programming and
modeling speed and skill, and team organization.

Here are four different mapjams I participated in and my final products" | markdownify}}
{% include cols.html cols=site.data.minecraft.mapjam.row0 %}

{% include simple/line.html %}
