---
title: Biology Research
layout: default
---

{{ "# 2023" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row0 %}
{{ "# 2024" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row1 %}
{{ "# 2025" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row2 %}
{{ "# 2026" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row3 %} <br><br>
{% include cols.html cols=site.data.research.row4 %}
{% include line.html %}


