---
title: Biology Research
layout: default
---
{% include page_top.html data=site.data.research.nav %}

{{ "# 2023" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row0 %}
{{ "# 2024" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row1 %}
{{ "# 2025" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row2 %}
<h1 id="prsa2_llo"></h1>
{{ "# 2026" | markdownify }}
{% include line.html %}
{% include cols.html cols=site.data.research.row3 %} <br><br>
<h1 id="fapc_vs"></h1>
{% include cols.html cols=site.data.research.row4 %}
{% include line.html %}


