
{% comment %} 
  @component Columns
  @description Will take in a list of data to be displayed in each column
    and place them in equal columns
  @param {data path} cols - holds all information about what is displayed
    each entry in the list is a different column
    type: the type of columns
    For more information look in that specific column type
{% endcomment %}

<div class="cols photo-row">
  {% for item in {{include.cols}} %}
    <div class="col">
      {% if item.type == "small_photo" %}
      {% include col_types/small_photo.html cont=item %}
      {% elsif item.type == "middle_photo" %}
      {% include col_types/middle_photo.html cont=item %}
      {% elsif item.type == "profile" %}
      {% include col_types/profile.html cont=item %}
      
      {% endif %}
    </div>
  {% endfor %}
</div>
