<figure class="credit {{ include.classes }}">

{% if include.cont.credit %}
    <img src= "{{ include.cont.photo }}" 
        alt="Describe the photo here" 
        {% if include.cont.width %}
            style="width: {{ include.cont.width }}px; height: auto;"
        {% else %}
            class="adjust" 
        {% endif %}>
    <figcaption>
        Photo Credit: <a class="white" 
        href={{include.cont.credit_link}}>{{include.cont.credit}}</a>
    </figcaption>

{% else %}
    <img src= "{{ include.cont.photo }}" 
        alt="Describe the photo here" 
        {% if include.cont.width %}
            style="width: {{ include.cont.width }}px; height: auto;"
        {% else %}
            class="adjust" 
        {% endif %}>

{% endif %}
</figure>
