
{% comment %} 
  @component Page Header
  @description Puts wikipedia style hyperlink box with text to its right
  @param {yml data} data - all data is held inside of a yml file
    @param {string} title - title of subsection
    @param {list} contents - list of hyperlink info
      @param {str} link - link of page being pointed to
      @param {str} id - id of section being pointed to
      @param {str} name - name used in the list
    @param {markdown} desc - text to right of image
{% endcomment %}

<article class="page_top">

    <aside class="linkbox">
      <h2>Contents</h2>
      <ul>
         {% for item in include.data.contents %}
            <li>{{forloop.index}}. <a href="/{{include.data.link}}#{{item.id}}">{{item.name}}</a></li>
         {% endfor %}
      </ul>
    </aside>

    <h1>{{ include.data.title }}</h1>
    {{ include.data.desc | markdownify}}

  </article>