
<!-- 
  @component Small Photo + Desc Subsection
  @description Image, clickable title below, then description
  @param {image path} photo - image placed on top
  @param {URL / HTML path} link - link clicking text leads to
  @param {string} title - the title of subsection
  @param {html} desc - the dsecription of subsection
-->
<article class="small_img-main">

  <!-- 1. Photo -->
  <img src="{{ include.photo }}" alt="Describe the photo here" class="small_img-img">

  <!-- 2. Big descriptor title -->
  <h1 class="small_img-title"><a href="{{ include.link }}">{{ include.title }}</a></h1>

  <!-- 3. Text beneath -->
  <div class="small_img-description">
    {{ include.desc }}
  </div>

</article>
