
// Random CSS that does not really fit anywhere else

// CSS for simple/center_title.html
.misc.center_title {
    text-align: center;
}

// CSS for simple/line.html
.misc.line {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

// CSS for simple/left_title.thml
.misc.left_title {
  margin-block: 40px 0px;
}
.misc.left_title_line {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}
