
// Random CSS that does not really fit anywhere else

// CSS for simple/center_title.html
.misc.center_title {
    text-align: center;
}

// CSS for simple/line.html
.misc.line {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

// CSS for profile
.profile::after {
  content: "";
  display: block;
  clear: both;
}
