nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

}
nav a {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
}
nav a::after {
  content: attr(data-name);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-title {
  margin: 0;
  margin-right: auto;
}
.nav-smooth {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}
.nav-current {
    color: green;
}
.nav-current:hover {
    color: green;
    font-weight: bold;
}