
<!-- 
  @component Profile Subsection
  @description Puts image on left screen, puts text on right wrapping around
  @param {yml data} cont - all data is held inside of a yml file
    @param {image data} - has data for image. More info in img.html
    @param {markdown} desc - text to right of image
-->
<div class="profile">
  {% if include.cont.rev == false %}
    {% include img.html cont=include.cont classes="img-left" %}
  {% else %}
    {% include img.html cont=include.cont classes="img-right" %}
  {% endif %}
  {{ include.cont.desc | markdownify }}
</div>
