
<!-- 
  @component Profile Subsection
  @description Puts image on left screen, puts text on right wrapping around
  @param {image path} image - image placed on right
  @param {HTML} content - text to right of image
  @param {int} width - how wide the photo is meant to be
  @param {bool} rev - if the profile should be in reverse order or not
-->
<div class="profile">
  {% if include.cont.rev == false %}
    {% include img.html cont=include.cont classes="img-left" %}
  {% else %}
    {% include img.html cont=include.cont classes="img-right" %}
  {% endif %}
  {{ include.cont.desc | markdownify }}
</div>
