
<!-- 
  @component Small Photo + Desc Subsection
  @description Image, clickable title below, then description
  @param {yml data} cont - all data is held inside of a yml file
    @param {image data} - has data for image. More info in img.html
    @param {string} title - title of subsection
    @param {html link} link - where title links to
    @param {markdown} desc - text beneath image
-->
<article class="small_photo">

  <!-- 1. Photo -->
  {% include img.html cont=include.cont %}

  <!-- 2. Big descriptor title -->
  <h1><a href="{{ include.cont.link }}">{{ include.cont.title }}</a></h1>

  <!-- 3. Text beneath -->
  <div>
    {{ include.cont.desc | markdownify }}
  </div>

</article>
