
<!-- 
  @component Small Photo + Desc Subsection
  @description Image, clickable title below, then description
  @param {image path} photo - image placed on top
  @param {URL / HTML path} link - link clicking text leads to
  @param {string} title - the title of subsection
  @param {html} desc - the dsecription of subsection
-->
<article class="small_photo">

  <!-- 1. Photo -->
  {% include img.html cont=include.cont %}

  <!-- 2. Big descriptor title -->
  <h1><a href="{{ include.cont.link }}">{{ include.cont.title }}</a></h1>

  <!-- 3. Text beneath -->
  <div>
    {{ include.cont.desc | markdownify }}
  </div>

</article>
